name: CI Tests - Pull Request

on:
  pull_request:
  push:
    branches:
        - main
    paths:
      - "src/study_llama/**"
      - "pyproject.toml"
      - "tests/**"

jobs:
  testing_pr:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Run Tests on Main Package
        run: make test
        